notes:
 
nav bar and dropdown:

<nav class="navbar navbar-inverse"><!--it is start with two classes, you can choose navbar-default or navbar-inverse
and then it need a div, the class is container-->

  <div class="container-fluid">
  <!--this part is navbar header, it can include some cases when it collapse, and it can add a nav-brand-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a><!--the navbar-brand is usually in the navbar-header-->
    </div>         


    <div class="collapse navbar-collapse" id="myNavbar"><!--if you want to collapse, you can use this-->
      
      <ul class="nav navbar-nav"><!--it means it is part of the navbar-nav-->
        <li class="active"><a href="#">Home</a></li>
        

        <!--this is a standard part of dropdown,it has dropdown toggle and data-toggle and dropdown-menu-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        



        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"><!--if you want to let it at right, you can add this class-->
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


add a modal:
<div class="pull-right"><a href="#GPGModal" data-toggle="modal" tabindex="2">(?)</a></div>
<!--define a modal...... the total modal contains: modal fade, modal-dialog,modal-content,modal-header,modal-title,modal-body,modal-footer-->
<div class="modal fade" id="GPGModal" tabindex="-1" role="dialog" aria-labelledby="GPGModal" aria-hidden="true">
<!--be careful with its class tabindex role-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!--this is used to close the modal-->
        <h3 class="modal-title" id="GPGLabel"><b>Generating and finding your GPG public key</b></h3>
      </div>

      <div class="modal-body">
        <p>
          Note that GPG and SSH keys are NOT interchangeable. Submitting your SSH keys will result in problems when decrypting your downloaded datasets.
          <br><br>
          <b>To generate a GPG public key/id:</b><br>
          <ul>
            <li>Run the command <code>gpg --gen-key</code></li>
            <li>For the comment, put "Used for moocCR"</li>
          </ul>
        </p>
        <p>
          <b>To find your GPG public key/id:</b><br>
          <ul>
            <li>Run the command <code>gpg --list-keys</code></li>
            <li>Find the row labelled "pub" where the command in the third column is "Used for moocCR".</li>
            <li>In the second column of that row, copy the alphanumeric string of length 8 as your GPG key ID.</li>
            <li>Run the command <code>gpg --armor --export insert_your_key_id_here</code>, where you replace <i>insert_your_key_id_here</i> with your actual key id that you found in Step 2.</li>
            <li>Copy and paste the output as your GPG key.</li>
          </ul>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




similar courses:
{
    placeholder:'Select an course'
}).on("opening",function(){
  log($("#departmentlist").val())
  if ($("#departmentlist").val!="Not specified") {////
    /*Taking an array of all options-2 and kind of embedding it on the select1*/
    var id = $("#departmentlist").val();
    var options = $(this).data('options').filter('[value=' + id + ']');
    $(this).html(options)
  }else{
    var id = $("#departmentlist").val();
    var options = $(this).data('options');
    $(this).html(options)
  }
}


dashboard:
<div class="mini-banner auto no-margin" id="get-started">
  <div class="container">
    <div class="row">
      
      <!-- Share Analytics -->
      <div class="col-md-6">
        <h3>1.Try to find similar courses you want to take!<a href="/similarcourse/display/<%=session.user.id%>"><br>Start here!</a></h3>
        <br>
        <p>Never worry about the courses you want to take are full, because we can find similar courses here! You can search for the courses and find all courses that are most similar to them</p>
        <!--<form action="/analytic/upload" enctype="multipart/form-data" method="POST">
          <label for="name">Analytic: </label><input type="text" class="form-control" placeholder="Module name" name="name">
          <br>
          <label for="description">Description: </label>
          <textarea rows="5" type="text" class="form-control" name="description" placeholder="A description of the module."></textarea>
          <br>
          <label for="dataModels">Data Model Support:</label>

          <br>
          <label for="url">URL (optional):</label>
          <input type="text" placeholder="URL to analytic module website, if any" name="url" class="form-control">
          <br>
        -->
          <!-- Data Pre-Processing -->
        <!--  <label for="preprocess">External Data Transformation Script:</label><br>
          <p>Check <i>yes</i> if your upload includes a data pre-processing script to be run on the data model's files before applying the analytic module.</p>
          <input id="preprocess-yes" type="radio" name="preprocess" value="Yes" disabled> Yes<br>
          <input id="preprocess-no" type="radio" name="preprocess" value="No" checked> No<br><br>

          <div id="dataScriptFields" style="display:none;">
            <label for="dataFiles">Data Script Filepath Inputs:</label><br>
            <p>Check the files that your data script will take in as input.</p>
            <input type="checkbox" name="dataFile">Placeholder #1<br>
            <input type="checkbox" name="dataFile">Placeholder #2<br>
            <br>
          </div>
        -->
          <!-- Misc -->
        <!--  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <input type="hidden" name="owner" value="<%= user.id %>" />

        --> <!-- File field is placed last due to parse bug with large files -->
        <!--    <div class="input-group file-upload">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Browse&hellip; <input type="file" class="form-control" name="userArchiveFile" multiple>
                </span>
              </span>
              <input type="text" class="form-control" readonly>
            </div>
            <p>Note: All uploaded files must be compressed in .ZIP format.</p>
            <br>
          <input type="submit" class="btn btn-sm btn-primary" value="Upload">
        </form>-->
        <br>
        <br>
        <h3 >2.Find courses that are most suitable for you to take next!<a href="/nextcourse/display/<%=session.user.id%>"><br>Start here!</a></h3>
        <br>

        <p>
          Don's know what course are suitalbe for you to take next, also don't have wise guidance on the course plan. Don't worry! You can find the most suitable courses for you to take next here! We will give best recommendations to you based on your history.
        </p>
      </div>

      <!-- Data Requests -->
      <div class="col-md-5 col-md-offset-1">
        <h3>3.Get your dream score under our guidance!<a href="/predictcourse/display/<%=session.user.id%>"><br>Start here!</a></h3>
          <p>This will be the most magic thing in your academic career! Never dare to try 'real analysis'-the most crazy course in the world, because you know you will get either a E or Fail! Now you can try! And the most amazing thing is that you are more likely to get your dream score under our guidance! Choose one course you want to take and score you want to get, we will tell you whether you are prepared for this course, if not we will recommend you to take a sequence courses before you take the course you want to take and the requirement you need to meet. And finally you will get the grade you want to get!
          </p>
          <br><br>
          <label>For example! </label><textarea rows="7" type="text" class="form-control" name="reason" placeholder="If you want to take course 'CS10' and get an A! According to what courses you have taken, we may recommend you to take these courses in sequence. 'CS6'(minimum requirement A-)---->'CS7'(minimum requirement B)---->'CS9'(minimum requirement B)---->(finally get)'CS10' A! " disabled></textarea>
          <br>

      </div>
    </div>
  </div>
</div>

manage_courses:
<div class="container wrapper">
  <h2>courses</h2>
  <table class='table table-striped table-hover' id='course-table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>course Name</th>
        <th>course Teacher</th>
        <th>course Credit</th>
        <th>Department</th>
      </tr>
    </thead>

    <tbody>
    <% _.each(courses, function(course) { %>
    <tr data-id="<%= course.id %>" data-model="course">
      <td><%= course.id %></td>
      <td><%= course.courseName %></td>
      <td><%= course.teacherName %></td>
      <td><%= course.credit %></td>
      <td><%= course.department.departmentName%></td>
      <td><a href="/course/edit/<%= course.id %>" class="btn btn-sm btn-warning">Edit</a></td>

      <td><a class="btn btn-sm btn-danger" data-toggle="modal" href="#deleteModal-<%= course.id %>">Delete</a>
      </td>
    </tr>

    <!-- Modal for Deleting User -->
    <div class="modal fade" id="deleteModal-<%= course.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="deleteLabel"><b>Delete Course</b></h3>
          </div>

          <div class="modal-body">
            <p><b>Warning:</b> Once a course is deleted, all records of the course are permanently deleted. Are you sure you want to continue?</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a type="submit" class="btn btn-danger" value="Delete" href="/course/destroy/<%= course.id %>">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <% }) %>
    </tbody>
  </table>
</div>



   <!--  <select class="course-list form-control" id="courselist3" name="courseName" style="width:300px">
    <option></option>
    <% _.each(courses, function(course) { %>
      <option value="<%=course.departmentid.id%>"><%=course.courseName%></option>
      <%})%>
    </select>

    <select class="course-list form-control hidden" id="courselist4" name="courseName" style="width:300px" >
    <option></option><!--hidden select bar, so that you can choose it again-->
    <% _.each(courses, function(course) { %>
      <option value="<%=course.departmentid.id%>"><%=course.courseName%></option>
      <%})%>
    </select>
 -->


layout:
 <% if (session.authenticated) { %><!---->
              <li><a id="Dashboard" class="navbar-button" href="/similarcourse/display/<%=session.user.id%>">Find similar courses</a></li>
              <!--this is the way to write href in html!!!-->
              <li id="Recommendation" class="dropdown" > 
                  <a class="navbar-button dropdown-toggle" id="recommendation-menu" data-toggle="dropdown"><!--it should be a button, but whether set it as a button or a navbar-button depends on you-->
                      Recommendation
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="recommendation-menu">
                      <li role="presentation"><a role="menuitem" href="/similarcourse/display/<%=session.user.id%>">Find similar courses</a></li>
                      <li role="presentation"><a role="menuitem" href="/nextcourse/display/<%=session.user.id%>">Find course suits you</a></li>
                      <li role="presentation"><a role="menuitem" href="/predictcourse/display/<%=session.user.id%>">Analysis 3</a></li>
                    </ul>
              </li>


similar_course:
 <!-- <% _.each(courses, function(course) { %>
      <option subjectid="<%=course.coursesubjectid.id%>" id="<%=course.departmentid.id%>" value="<%=course.id%>"><%=course.courseName%> </option>
      <%})%> -->


.on("select2:open",function() {///////this is a way to add "change" event, here you need to specify it as open!!!!
    $(this).data('options', $('#courselist2 option').clone());
      var id = $(this).children(":selected").attr("id");
  var options = $(this).data('options').filter('[subjectid=' + id + ']');
  $('#courselist').empty().append($('<option>'));
  $('#courselist').append(options);
})


.on("change",function(){
  $(this).data('options', $('#coursesubjectlist2 option').clone());
  var subjectid = $(this).children(":selected").attr("subjectid");
  var options = $(this).data('options').filter('[id=' + subjectid + ']');

  $('#coursesubjectlist').html(options);
  $(this).data('options', $('#departmentlist2 option').clone());
  var id = $(this).children(":selected").attr("id");
  var options = $(this).data('options').filter('[value=' + id + ']');
  $('#departmentlist').html(options);
  })
