<div class="mini-banner auto">
  <div class="container">
    <h2>User Information: UID <%= user.id %></h2>
    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['warning'].length > 0) { %>
      <div class="alert alert-warning">
      <% messages['warning'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['success'].length > 0) { %>
      <div class="alert alert-success">
      <% messages['success'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %> 
     
  </div>
</div>

<div class="sub-banner">
  <div class="container">
    <!--once you add class=row, the material in this div will be arranged in row-->
        <h2>Your profile</h2>

    
  </div>
</div>

<div class="container wrapper">
  <!-- User Information -->
  <h2>Personal Information</h2>
  <p><b>First Name: </b> <%= user.firstName %></p>
  <p><b>Last Name: </b> <%= user.lastName %></p>
  <p><b>Email Address: </b> <%= user.email %></p>
<!--   <p><b>Department: </b> School of Information </p> -->
  <% if (user.majorid == undefined) {%>
    <p><b>Major: </b> You have not set major yet</p>
  <%} else {%>
    <p><b>Major: </b> <%=user.majorid.majorName%></p>
  <%}%>
<!--   <p><b><a href="">View My Course History </a></b></p> -->
  <p>
          <a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-success">Update Your Profile</a>
        </p>
</div>

