<div class="mini-banner auto">
	<div class="container">
		<h2>Analysis one</h2>
	</div>
</div>

<div class="sub-banner">
  <div class="container">
    <h2>Find similar courses you want to take! </h2>
    <h4>
      Never worry about the courses you want to take are full, because we can find similar courses here! You can search for the courses and find all courses that are most similar to them
    </h4>
  </div>
</div>

<div class="container wrapper">
<div class="row">
<h3>Please choose course</h3>
	<div class="col-md-4">
    <select name="departmentid" class="department-list form-control" id="departmentlist" style="width:230px">
    <option></option>
      <% _.each(departments, function(department) { %>
      <option value="<%=department.id%>"><%=department.departmentName%></option>
      <%})%>
    </select>
    
    <select name="departmentid" class="department-list form-control hidden" id="departmentlist2" style="width:200px">
    <option></option>
      <% _.each(departments, function(department) { %>
      <option value="<%=department.id%>"><%=department.departmentName%></option>
      <%})%>
    </select>

	</div>
  <form method="POST" action="/similarcourse/search" id="courseform"> 

	<div class="col-md-3">
		
    <select class="coursesubject-list form-control" id="coursesubjectlist" name="coursesubjectName" style="width:200px">
    <option></option>
    <% _.each(coursesubjects, function(coursesubject) { %>
      <option value="<%=coursesubject.departmentid.id%>" id="<%=coursesubject.id%>"><%=coursesubject.coursesubjectName%></option>
      <%})%>
    </select>

    <select class="coursesubject-list form-control hidden" id="coursesubjectlist2" name="coursesubjectName" style="width:200px" >
    <option></option><!--hidden select bar, so that you can choose it again-->
    <% _.each(coursesubjects, function(coursesubject) { %>
      <option value="<%=coursesubject.departmentid.id%>" id="<%=coursesubject.id%>"><%=coursesubject.coursesubjectName%></option>
      <%})%>
    </select> 
  </div>

  <div class="col-md-3">
		<select class="course-list form-control" id="courselist" name="courseName" style="width:185px">
		<option></option>
    <% _.each(courses, function(course) { %>
      <option subjectid="<%=course.coursesubjectid.id%>" id="<%=course.departmentid.id%>" value="<%=course.id%>"><%=course.courseName%> </option>
      <%})%>
		</select>

    <select class="course-list form-control hidden" id="courselist2" name="courseName" style="width:200px" >
    <option></option><!--hidden select bar, so that you can choose it again-->
    <% _.each(courses, function(course) { %>
      <option subjectid="<%=course.coursesubjectid.id%>" id="<%=course.departmentid.id%>" value="<%=course.id%>"><%=course.courseName%></option>
      <%})%>
    </select>  
	</div>
  <div class="pull-right">
    <input class="btn btn-sm btn-success" value="Submit" id="coursesubmit" style="width:100px">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
  </form>
  <br>
  <br>
  <br>
  <div id=addtable>
  <!--ajax add table-->
  </div>
</div>	
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#coursesubmit").click(function(){
      var courseid=$("#courselist").val();
      $.ajax({
        url:'/similarcourse/search',
        type:'POST',
        data:{
          courseid:courseid  //be careful there is no punctuation
        },
        success:function(response){
          $('#course-table').remove();
          //console.log(response);//you can use this method to see data you pass to browser
          var trHTML = "<h3>Top 10 similar courses</h3><table class='table table-striped table-hover' id='course-table'><thead><tr><th>Course ID</th><th>Course Name</th><th>Course Subject</th><th>Department </th></tr></thead><tbody>";
          $.each(response, function (i, item) {
            trHTML += '<tr><td>' + item.id + '</td><td>' + item.courseName + '</td><td>' + item.coursesubjectid.coursesubjectName + '</td><td>'+item.departmentid.departmentName+'</td></tr>';
          });
          trHTML +="</tbody></table>"
          $('#addtable').append(trHTML);
        }
      })
    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
  $("#courselist").select2({
    placeholder:'Please choose a course'
  }).on("change",function(){
  $(this).data('options', $('#coursesubjectlist2 option').clone());
  var subjectid = $(this).children(":selected").attr("subjectid");
  var options = $(this).data('options').filter('[id=' + subjectid + ']');

  $('#coursesubjectlist').html(options);
  $(this).data('options', $('#departmentlist2 option').clone());
  var id = $(this).children(":selected").attr("id");
  var options = $(this).data('options').filter('[value=' + id + ']');
  $('#departmentlist').html(options);
  })
});
</script>


 <script type="text/javascript">
  $(document).ready(function() {
  $("#coursesubjectlist")
   .select2({
    placeholder:'Please choose a subject'
  }).on("select2:open",function() {///////this is a way to add "change" event, here you need to specify it as open!!!!
    $(this).data('options', $('#courselist2 option').clone());
      var id = $(this).children(":selected").attr("id");
  var options = $(this).data('options').filter('[subjectid=' + id + ']');
  $('#courselist').html(options);
})
  .on("change",function(){
    $(this).data('options', $('#courselist2 option').clone());
      var id = $(this).children(":selected").attr("id");
      var options = $(this).data('options').filter('[subjectid=' + id + ']');
      $('#courselist').html(options);
      $(this).data('options', $('#departmentlist2 option').clone());
      var id = $(this).val()
      var options = $(this).data('options').filter('[value=' + id + ']');
      $('#departmentlist').html(options);
  })
});
</script>  


 <script type="text/javascript">
  $(document).ready(function() {
  $("#departmentlist")
   .select2({
    placeholder:'Please choose a department'
  }).on("change",function() {//this is a way to add "change" event

    $(this).data('options', $('#coursesubjectlist2 option').clone());
    var id = $(this).val();
    var options = $(this).data('options').filter('[value=' + id + ']');
    $('#coursesubjectlist').html(options);

    $(this).data('options', $('#courselist2 option').clone());
     var id = $(this).val();
     var options = $(this).data('options').filter('[id=' + id + ']');
    $('#courselist').html(options);
    })
    .on("select2:open",function(){
    $(this).data('options', $('#departmentlist2 option').clone());
    var options = $(this).data('options')
     $('#departmentlist').html(options);
    })
});
</script>    


<!-- <script>
  // Table pagination
  $(document).ready(function() {
      $('#course-table').dataTable();
  });
</script> -->


