
<% if (messages && messages['error'].length > 0) { %>
  <div class="alert alert-danger" >
  <% messages['error'].forEach(function(message) { %>
    <%= message %>
    <br>
  <% }); %>
  </div>
  <br>
<% } %>
<% if (messages && messages['warning'].length > 0) { %>
  <div class="alert alert-warning">
  <% messages['warning'].forEach(function(message) { %>
    <%= message %>
    <br>
  <% }); %>
  </div>
  <br>
<% } %>
<% if (messages && messages['success'].length > 0) { %>
  <div class="alert alert-success">
  <% messages['success'].forEach(function(message) { %>
    <%= message %>
    <br>
  <% }); %>
  </div>
  <br>
<% } %> 
     


<div class="mini-banner auto">
	<div class="container">
		<h2>Analysis one</h2>
	</div>
</div>

<div class="sub-banner">
  <div class="container">
    <h2>Find similar courses you want to take! </h2>
    <h4>
      Never worry about the courses you want to take are full, because we can find similar courses here! You can search for the courses and find all courses that are most similar to them
    </h4>
  </div>
</div>

<div class="container wrapper">
<div class="row">
<h3>Please choose course</h3>
  <form method="POST" action="/similarcourse/search" id="courseform" > 
	<div class="col-md-3">
    <select name="departmentid" class="department-list form-control" id="departmentlist" tabindex="1">
    <option></option>
      <% _.each(departments, function(department) { %>
      <option value="<%=department.id%>"><%=department.departmentName%></option>
      <%})%>
    </select>
    
    <select name="departmentid" class="department-list form-control hidden" id="departmentlist2" style="width:200px" tabindex="1">
    <option></option>
      <% _.each(departments, function(department) { %>
      <option value="<%=department.id%>"><%=department.departmentName%></option>
      <%})%>
    </select>

	</div>

	<div class="col-md-3">
		
    <select class="coursesubject-list form-control" id="coursesubjectlist" name="coursesubjectName"  tabindex="1">
    <option></option>
      <% _.each(coursesubjects, function(coursesubject) { %>
      <option value="<%=coursesubject.departmentid.id%>" id="<%=coursesubject.id%>"><%=coursesubject.coursesubjectName%></option>
      <%})%>  
    </select>

    <select class="coursesubject-list form-control hidden" id="coursesubjectlist2" name="coursesubjectName" style="width:200px" tabindex="1">
    <option></option><!--hidden select bar, so that you can choose it again-->
      <% _.each(coursesubjects, function(coursesubject) { %>
      <option value="<%=coursesubject.departmentid.id%>" id="<%=coursesubject.id%>"><%=coursesubject.coursesubjectName%></option>
      <%})%> 
    </select> 
  </div>

  <div class="col-md-3">
		<select class="course-list form-control" id="courselist" name="courseName"  tabindex="1">
		<option></option>
   
		</select>

    <select class="course-list form-control hidden" id="courselist2" name="courseName" style="width:200px" tabindex="1">
    <option></option><!--hidden select bar, so that you can choose it again-->
    
    </select>  
	</div>
  <div class="pull-right">
    <input type="button" value="Submit", id="coursesubmit" style="width:100px;background-color: #4CAF50;color:white" onclick="this.style.color='#000000'; this.style.backgroundColor = '#ffffff'" tabindex="1">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
  </form>
  <br>
  <br>
  <br>
  <div class="pull-right">
  <p><a href="/similarcourse/courserelationship">Investigate course relationships here!</a></p>
  </div>
  <div id='addtable'>
  <!--ajax add table-->
  </div>
</div>	
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#coursesubmit").on('keypress click',function(event){
      var courseid=$("#courselist").val();
      $.ajax({
        url:'/similarcourse/search',
        type:'POST',
        data:{
          courseid:courseid  //be careful there is no punctuation
        },
        success:function(response){
          $('#course-table').remove();
          $('#title').remove();
          //console.log(response);//you can use this method to see data you pass to browser
          var trHTML = "<h3 id='title'>Top 10 similar courses</h3><table class='table table-striped table-hover' id='course-table'><thead><tr><th>Course ID</th><th>Course Name</th><th>Course Subject</th><th>Department </th><th>Cosine Similarity</th></tr></thead><tbody>";
          $.each(response, function (i, item) {
              trHTML += '<tr><td>' + item.id + '</td><td>' + item.courseName+'</td><td>' + item.coursesubjectid.coursesubjectName+'</td><td>' + item.departmentid.departmentName + '</td><td>'+item.cosinesimilarity+'</td></tr>';
          });
          trHTML +="</tbody></table>"
          $('#addtable').append(trHTML);
        },
        failure:function(msg){
          $('#addtable').append('<div class="alert alert-danger" id="courseerror"><h3>'+msg+'</h3></div>')
        },
        error:function(jqXHR, textStatus,errorMessage){
        $('#course-table').remove();
        $('#addtable').append('<div class="alert alert-danger" id="course-table"><h3>Sorry, there is not sufficient records on this course, so we can not recommend you similar courses with strong confidence</h3></div>')
        }
      })
    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
  $("#courselist").select2({
    placeholder:'Please choose a course'
  }).on("select2:close",function(){
    $('#courselist').focus();
  })
});
</script> 


 <script type="text/javascript">
  $(document).ready(function() {
  $("#coursesubjectlist")
   .select2({
    placeholder:'Please choose a subject'
  }).on("change",function(){
      var coursesubjectid = $(this).children(":selected").attr("id");
      console.log(coursesubjectid);
      $.ajax({
      url:'/similarcourse/filterbycoursesubject',
      type:'POST',
      data:{
          coursesubjectid:coursesubjectid  //be careful there is no punctuation
        },
      success:function(response){
          $('#courselist').empty().append($('<option>'));
          $.each(response, function (i, option) {
          $('#courselist').append($('<option>', { //when you use jquery, you need '#' before the id name
         value: option.id,
         id:option.departmentindex,
         subjectid:option.coursesubjectindex,
         text : option.courseName
          }));
          });
          $('#courselist2').empty().append($('<option>'));
          $.each(response, function (i, option) {
          $('#courselist2').append($('<option>', { //when you use jquery, you need '#' before the id name
         value: option.id,
         id:option.departmentindex,
         subjectid:option.coursesubjectindex,
         text : option.courseName
          }));
          });
      }
    });
      $(this).data('options', $('#departmentlist2 option').clone());
      var id = $(this).val()
      var options = $(this).data('options').filter('[value=' + id + ']');
      $('#departmentlist').html(options);
      var options = $(this).data('options');
      $('#departmentlist').append(options);
      $('#coursesubjectlist').focus();
  })
  .on("select2:close",function(){
    $('#coursesubjectlist').focus();
  })
});
</script>  


 <script type="text/javascript">
  $(document).ready(function() {
  $("#departmentlist")
   .select2({
    placeholder:'Please choose a department'
  }).on("change",function() {//this is a way to add "change" event

    $(this).data('options', $('#coursesubjectlist2 option').clone());
    var id = $(this).val();
    var options = $(this).data('options').filter('[value=' + id + ']');
    $('#coursesubjectlist').empty().append($('<option>'))
    $('#coursesubjectlist').append(options);//if you don't want to show your first choice, you can't use .html(),just append
    var departmentid=$("#departmentlist").val();
    $.ajax({
      url:'/similarcourse/filterbydepartment',
      type:'POST',
      data:{
          departmentid:departmentid  //be careful there is no punctuation
        },
      success:function(response){
          $('#courselist').empty().append($('<option>'));
          $.each(response, function (i, option) {
          $('#courselist').append($('<option>', { //when you use jquery, you need '#' before the id name
         value: option.id,
         id:option.departmentindex,
         subjectid:option.coursesubjectindex,
         text : option.courseName
          }));
          });
          $('#courselist2').empty().append($('<option>'));
          $.each(response, function (i, option) {
          $('#courselist2').append($('<option>', { //when you use jquery, you need '#' before the id name
         value: option.id,
         id:option.departmentindex,
         subjectid:option.coursesubjectindex,
         text : option.courseName
          }));
          });
      }
    });
    // });
    // $(this).data('options', $('#courselist2 option').clone());
    //  var id = $(this).val();
    //  var options = $(this).data('options').filter('[id=' + id + ']');
    // $('#courselist').append(options);
    $('#departmentlist').focus();
    })//you can not add ';' here!!!
    .on("select2:close",function(){
    $(this).data('options', $('#departmentlist2 option').clone());
    var options = $(this).data('options')
     $('#departmentlist').append(options);
     $('#departmentlist').focus();
    });
  });
</script>    




<!-- <script>
  // Table pagination
  $(document).ready(function() {
      $('#course-table').dataTable();
  });
</script> -->


