<div class="mini-banner auto">
	<div class="container">
		<h2>Analysis one</h2>
	</div>
</div>

<div class="sub-banner">
  <div class="container">
    <h2>Find similar courses you want to take! </h2>
    <h4>
      Never worry about the courses you want to take are full, because we can find similar courses here! You can search for the courses and find all courses that are most similar to them
    </h4>
  </div>
</div>

<div class="container wrapper">
<div class="row">
<h3>Please choose course</h3>
	<div class="col-md-6">
    <select name="department" class="department-list form-control" id="departmentlist" style="width:300px">
    <option></option>
    <option value="Not specified">Not specified</option>
      <% _.each(departments, function(department) { %>
      <option value="<%=department.id%>"><%=department.departmentName%></option>
      <%})%>
    </select>

	</div>
  <form method="POST" action="/similarcourse/search" >
	<div class="col-md-4">
		
		<select class="course-list form-control" id="courselist" name="courseName" style="width:300px">
		<option></option>
    <% _.each(courses, function(course) { %>
      <option value="<%=course.department.id%>"><%=course.courseName%></option>
      <%})%>
		</select>
      
	</div>
  <div class="col-md-2">

    <input type="submit" class="btn btn-sm btn-success" value="Submit">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
  </form>
</div>	
</div>

<!---->

<script type="text/javascript">
                $(document).ready(function() {
  $("#courselist").select2({
    placeholder:'Please choose a course'
  })
});
</script>


 <script type="text/javascript">
  $(document).ready(function() {
  $("#departmentlist")
   .select2({
    placeholder:'Please choose a department'
  }).on("change",function() {////////////////this is a way to add "change" event
  if ($(this).val()=="Not specified"){
  //if ($(this).data('options') == undefined) {////
    /*Taking an array of all options-2 and kind of embedding it on the select1*/
    $(this).data('options', $('#courselist option').clone());
    var options = $(this).data('options')
     $('#courselist').html(options);
  }else{
    $(this).data('options', $('#courselist option').clone());
      var id = $(this).val();
  var options = $(this).data('options').filter('[value=' + id + ']');
  $('#courselist').html(options);
}
})

});
</script>  

