<div class="mini-banner auto">
	<div class="container">
		<h2>Analysis three</h2>
	</div>
</div>

<div class="sub-banner">
  <div class="container">
    <h2>Get your dream score under our guidance!</h2>
    <h4>
    	This will be the most magic thing in your academic career! Never dare to try 'real analysis'-the most crazy course in the world, because you know you will get either a E or Fail! Now you can try! And the most amazing thing is that you are more likely to get your dream score under our guidance! Choose one course you want to take and score you want to get, we will tell you whether you are prepared for this course, if not we will recommend you to take a sequence courses before you take the course you want to take and the requirement you need to meet. And finally you will get the grade you want to get!
    </h4>
    <label>For example! </label><textarea rows="3" type="text" class="form-control" name="reason" placeholder="If you want to take course 'CS10' and get an A! According to what courses you have taken, we may recommend you to take these courses in sequence. 'CS6'(minimum requirement A-)---->'CS7'(minimum requirement B)---->'CS9'(minimum requirement B)---->(finally get)'CS10' A! " disabled></textarea>
  </div>
</div>

<div class="container wrapper">
<div class="row">
<h3>Please choose a course you want to take and grade you want to get!</h3>
	<br>
	<div class="col-md-4">
		<select name="department" class="department-list form-control" id="departmentlist" style="width:300px">
		<option></option>
				<option value="Not specified">Not specified</option>
		      <% _.each(departments, function(department) { %>
		      <option value="<%=department.id%>"><%=department.departmentName%></option>
		      <%})%>
		</select>
	</div>
	<form method="POST" action="/predictcourse/search" >
	<div class="col-md-4">
		<select class="course-list form-control" id="courselist" name="courseName" style="width:300px">
		<option></option>
    	<% _.each(courses, function(course) { %>
        <option value="<%=course.department.id%>"><%=course.courseName%></option>
        <%})%>
		</select>
	</div>
	<div class="col-md-4">
		<select class="grade-list"  style="width:100px">
		<option value="A">A</option>
        <option value="B">B</option>
		<option value="C">C</option>
		<option value="pass">Pass</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-sm btn-success" value="Submit">
    	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		
	</div>
	</form>
</div>	
</div>

<script type="text/javascript">
                $(document).ready(function() {
  $("#courselist").select2({
    placeholder:'Please choose a course'
  })
});
</script>


 <script type="text/javascript">
  $(document).ready(function() {
  $("#departmentlist")
   .select2({
    placeholder:'Please choose a department'
  }).on("change",function() {////////////////this is a way to add "change" event
  if ($(this).val()=="Not specified"){
  //if ($(this).data('options') == undefined) {////
    /*Taking an array of all options-2 and kind of embedding it on the select1*/
    $(this).data('options', $('#courselist option').clone());
    var options = $(this).data('options')
     $('#courselist').html(options);
  }else{
    $(this).data('options', $('#courselist option').clone());
      var id = $(this).val();
  var options = $(this).data('options').filter('[value=' + id + ']');
  $('#courselist').html(options);
}
})

});
</script>  

<script type="text/javascript">
  $(document).ready(function() {
  $(".grade-list").select2({
  	placeholder:'Please choose the grade you want to get!'
  });
});
</script>
