<div class="mini-banner auto">
	<div class="container">
		<h2> Edit Course Information </h2>
    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['warning'].length > 0) { %>
      <div class="alert alert-warning">
      <% messages['warning'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['success'].length > 0) { %>
      <div class="alert alert-success">
      <% messages['success'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %> 
	</div><!---->
</div>
<div class="container wrapper">
	<form action="/course/update/<%= course.id %>" method="POST" class="form-signin">
		<div class="form-group">
			<label>Course Name:</label> 
			<input value="<%= course.courseName %>" name="courseName" type="text" class="form-control">
		</div>
		<div class="form-group"><!--here I do not associate course subject with department-->
      <select name="department" class="department-list form-control" id="departmentlist">
      <option value="<%=course.departmentid.id%>"><%=course.departmentid.departmentName%></option>
      <% _.each(departments, function(department) { %>
      <% if (department.id != course.departmentid.id){%><!--here be careful that after it populate, you need to write it is course.department.id-->
      <option value="<%=department.id%>"><%=department.departmentName%></option>
      <%}%>
      <%})%>
      </select>
    </div>
    <div class="form-group">
      <select name="coursesubject" class="coursesubject-list form-control" id="coursesubjectlist">
      <option value="<%=course.coursesubjectid.id%>"><%=course.coursesubjectid.coursesubjectName%></option>
      <% _.each(coursesubjects, function(coursesubject) { %>
      <% if (coursesubject.id != course.coursesubjectid.id){%><!--here be careful that after it populate, you need to write it is course.coursesubject.id-->
      <option value="<%=coursesubject.id%>"><%=coursesubject.coursesubjectName%></option>
      <%}%>
      <%})%>
    </select>

    <select class="coursesubject-list form-control hidden" id="coursesubjectlist2" name="coursesubjectName" style="width:300px" >
    <option></option><!--hidden select bar, so that you can choose it again-->
    <% _.each(coursesubjects, function(coursesubject) { %>
      <option value="<%=coursesubject.departmentid.id%>"><%=coursesubject.coursesubjectName%></option>
      <%})%>
    </select>

    </div>
		<input type="submit" value="Proceed" class="btn btn-sm btn-primary btn-block"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
	</form>
</div>



<script type="text/javascript">
  $(document).ready(function() {
  $("#coursesubjectlist").select2({
    placeholder:'Please choose a course subject for the course'
  });
});
</script>


<script type="text/javascript">
  $(document).ready(function() {
  $("#departmentlist")
   .select2({
    placeholder:'Please choose a department'
  }).on("change",function() {////////////////this is a way to add "change" event
  if ($(this).val()!="Not specified"){
  //if ($(this).data('options') == undefined) {////
    /*Taking an array of all options-2 and kind of embedding it on the select1*/
    $(this).data('options', $('#coursesubjectlist2 option').clone());
      var id = $(this).val();
  var options = $(this).data('options').filter('[value=' + id + ']');

  $('#coursesubjectlist').html(options);


  }else{
    $(this).data('options', $('#coursesubjectlist2 option').clone());
    var options = $(this).data('options')
     $('#coursesubjectlist').html(options);
  }
})
});
</script> 










